<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="roof">
		<img class="img-responsive" src="/static/roof.png" alt="roof">
		<img class="img-responsive divider" src="/static/divider.png" alt="divider">
	</div>	
    <div class="container">
    	<div class="col-md-12 aligncenter">
		    <h1>{{ restaurant.name }}</h1>
		    <div>
	            <a class="btn btn-warning" href="{{url_for('newMenuItem', restaurant_id = restaurant.id) }}">Create Menu Item</a>
	            <a class="btn btn-warning" href="{{url_for('restaurantsAll')}}">Back to Restaurants</a>
	        </div>
			<div class = "flash">
					      {% with messages = get_flashed_messages() %}
			      {% if messages %}
			          
			        <ul>
			        {% for message in messages %}
			            <li> <strong> {{ message }} </strong> </li>
			        {% endfor %}
			        </ul>
			        {% endif %}
			    {% endwith %}
			</div>


		{% for i in items %}
		    <div class = 'nameandprice'>
				<span class ='name'><p>{{i.name}}</p></span>

				<span class="description"><p>{{i.description}}</p></span>
			
				<span class ='price'><p>{{i.price}} </p></span>
			</div>



			<div class = "editdeletepane">

			<a class="edit" href='{{url_for('editMenuItem',restaurant_id = restaurant.id, menu_id=i.id)}}' >Edit</a>
			<a class="delete" href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id=i.id)}}' >
			Delete</a>
			</div>

		{% endfor %}
        </div>
    </div>
</body>
</html>