<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="roof">
		<img class="img-responsive" src="/static/roof.png" alt="roof">
		<img class="img-responsive divider" src="/static/divider.png" alt="divider">
	</div>	
    <div class="container">
    	<div class="col-md-12 aligncenter">
            <h1> New Menu Item </h1>
			<form action="{{url_for('newMenuItem', restaurant_id=restaurant_id )}}" method = 'POST'>

			<dl>
				<dt>Name:</dt>
					<dd><input type ='text' size='30' name='name'></dd>
				<dt>Price:</dt>	
					<dd><input type ='text' size='30' name='price'></dd>
				<dt>Description:</dt>	
				    <dd><input type ='text' size='30' name='description'></dd>
			</dl>
			<input class="btn btn-warning" type='submit' value='Create'>
			<a class = "btn btn-danger" href = "{{ url_for('restaurantMenu', restaurant_id = restaurant_id)}}"> Cancel </a>

			</form>
        </div>
    </div>
</body>
</html>

